/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  /*background-color: #1b1c74;*/
  background-color: #2e2e30;
}
main {
  grid-area: main;
  padding: 1rem;
  background-color: #030303;
}
footer {
  grid-area: footer;
  background-color: #2e2e30;
  color: #000000;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
  color: #9e9a9a;
}
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #6b6969 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
}
button:hover {
  border: 0.1rem #e6e0e0 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}

/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
  padding: 1rem;
}
/* Image */
img {
  border-radius: 0.5rem;
  max-height: 29rem;
  height: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
  height: 25rem;
  max-height: 100%;
}
img.large {
  width: 100%;
  height: 100%;
}

/*  Cards */
.card {
  border: 0.1rem #6b6969 solid;
  background-color: #0f0f0f;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
  color: #ffffff;
}

/*  Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #ffffff;
}
/* Alerts */

.success {
  color: #20a020;
}

.error {
  color: #a02020;
}
